input{
    height: 30px;
    border: 3px solid black;
    outline: 2px;
    border-radius:5px;
}
.no{
    margin: auto 20px;
    outline :none;
    border: none;
    color: white;
    background-color: green;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}